<mat-card [routerLink]="''+dino.id">
  <mat-card-header>
    <mat-card-title>{{dino.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [ngSrc]="dino.image" [height]="300" [width]="300" [alt]="'Photo of '+dino.name">
  <mat-card-content>
    <p style="text-decoration: underline">Description:</p>
    <p>{{dino.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="warn" aria-label="like this dinosaur"  (click)="like($event)">
      <mat-icon [matBadge]="likeCount()">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
