<mat-card>
  <mat-card-header>
    <mat-card-title>{{dino.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [ngSrc]="dino.image" [height]="600" [width]="600" [alt]="'Photo of '+dino.name">
  <mat-card-content *ngFor="let item of dino | keyvalue">
    <p><span style="text-decoration: underline"> {{item.key | titlecase}}:</span> {{item.value}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="'/'" mat-icon-button color="accent" aria-label="Go to the details for this dinosaur">
      <mat-icon>home</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
