:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search {
  color: #FFF;
  width: 90%;
  justify-content: center;
  display: flex;

  .mat-mdc-card-content {
    padding-bottom: 0 !important;
  }
  .search-content{
    display: flex;
    flex-direction: row;
    //space-between
    justify-content: space-between;
  }
  mat-chip{
    margin-top:auto;
    margin-bottom:auto;
  }
  .found{
    background: #55977C;
  }
  .none{
    background: #f44336;
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}
